*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#header{
    position: sticky;
    top: 0;
    right: 0; 
    left: 0;
    z-index: 999;
    height: 70px;

    background-color: blueviolet;
    color: white;
    text-align: center;
    text-decoration: none;
    opacity: 90%;

}

#header #logo{
    float: left;
    margin-left: 10px;
    margin-top: 4px;
    height: 58px;
    background: none;
}

#header #logo-name{
    float: left;
    margin-top: 23px;
    margin-left: 20px;
    
}

#header a{
    text-align: center;
    color: white;
}

#navigation{
    float: right;
    margin-top: 23px;
    margin-right: 27px;
    
    
}
#navigation a{
    margin-left: 20px;
}


#footer-info{
    height: 300px;
    background-color: rgb(18, 17, 19);
}

#footer{
    position: bottom absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    opacity: 100%;
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-decoration: none;
}

#credit{
    margin-top: 23px;
    margin-left: 17px;
    font-size: 13px;
}


.annen {
    margin-top: 60px;
    text-align: center;
}
.annen .h11 {
    font-size: 48px;
    margin-bottom: 60px;   
}
.annen .h12 {
    font-size: 35px;
    margin-bottom: 20px;
}
.annen img {
    border-radius: 50%;
}
.annen .ourTeam1 {
    display: flex;
    width: auto;
    justify-content: center;
}
.annen .ourTeam1 .team_member {
    width: 230px;
    margin: 60px;
}
.baban {
    margin-top: 60px;
    text-align: center;
}
.baban h1 {
    font-size: 35px;
}
.baban img {
    border-radius: 50%;
}
.baban .ourTeam2 {
    display: flex;
    width: auto;
    justify-content: center;
}
.baban .ourTeam2 .team_member {
    width: 230px;
    margin: 60px;
}
.baban .ourTeam3 {
    display: flex;
    width: auto;
    justify-content: center;
}
.baban .ourTeam3 .team_member {
    width: 230px;
    margin: 60px;
}
.ububjub {
    margin: 40px 20%;
    background: white;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.ububjub h1 {
    font-weight: 200;
}
.ububjub p {
    margin-top: 30px;
    text-align: left;
}
.ububjub .diyar {
    margin-top: 30px;
}
.ahey_ahey {
    border: 3px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}
.ahey_ahey label {
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.ahey_ahey input,.ahey_ahey textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.yapistir {
    display: block;
    background: blueviolet;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 125%;
    font-weight: 100;
}

.yapistir:hover{
    background-color: rgb(150, 63, 231);
}

.countriesBox {
    margin-top: 60px;
    text-align: center;
}
.countriesBox .region .asia1 .country .flag_img img {
    border: 3px solid #000000;
    border-radius: 10px;
    border-color: black;
    height: 170px;
    width: 260px;
}
.countriesBox .region .asia1 .country .flag_img_nepal img {
    border: 3px solid #000000;
    border-radius: 10px;
    border-color: black;
    height: 170px;
}
.countriesBox #t11 {
    font-size: 48px;
    margin-bottom: 60px;
}
.countriesBox .region .asia1 .country button {
    background: blueviolet;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 17px;
    margin-top: 8px;
    width: 100%;
    border-radius: 8px;
    font-weight: 100;
    font-size: 125%;
}
.countriesBox .region .asia1 .country .naber {
    width: 80%;
    margin-left: 23px;
}
.countriesBox .region .asia1 {
    display: flex;
    width: auto;
    justify-content: center;
}
.countriesBox .region .asia1 .country {
    width: 230px;
    margin: 60px;
}